* { 	margin:0; padding:0; }

a { text-decoration: none; color: black; }

a:hover { text-decoration: underline; }

html, body { 
	height: 100%;
	font-family: Garamond, serif;
}

h1, h2, h3 {
	font-weight: bold;
}

header {
	width: 100%;
	height: 100px;
	background-color: #b8b9c8;
	text-align: center;
}

header h1 {
	font-size: 50px;
	padding:20px;	
}

#container {
	min-height: 100%;
	height: auto;	
	margin: 0 auto -35px;
	text-align: center;	
}

#push {
	height: 35px;
}

#container h2 {
	font-size: 30px;
}

#container h3 {
	font-size: 20px;
}

#main {
	padding-top: 50px;
	margin: 0 20%;
}

#main form {
	margin: 10px;
	padding: 10px;
}

#main form span {
	font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
}

#main input {
	padding: 5px;
	margin: 5px;
}

#hot, #cold {
	margin-top: 50px;
	width: 50%;
	float: left;
	list-style-type: none;
}

#hot span , #cold span {
	font-size: 18px;
	font-weight: bold;
}

#hot li , #cold li {
	/* placeholder */
}

footer {	
	width: 100%;
	height: 35px;
	clear: both;
	font: bold normal 12px/100% Arial, sans-serif;
	background-color: #8a8db6;
}

footer p {
	float: right;
	margin: 8px 20px 2px 0;
	padding: 5px;
}

.hidden {
	display: none;
}

